.form {
  width: 500px;
}

.labelWrapperName,
.labelWrapperNumber {
  margin-top: 20px;
}

.formLabelName,
.formLabelNumber {
  color: #1976d2;
  font-weight: bold;
  width: 130px;
  float: left;
}

.formLabelName:after,
.formLabelNumber:after {
  content: ': ';
}

.formInputName,
.formInputNumber {
  padding: 3px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  border: 2px solid #1976d2;
  border-radius: 3px;
}

.btnSubmit {
  padding: 10px;
  border: 1px solid gray;
  background-color: #1976d2;
  border-radius: 5px;
  font: inherit;
  color: white;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.btnSubmit:hover {
  background-color: rgba(255, 255, 255, 0.559);
  color: #1976d2;
  box-shadow: 3px 3px 5px grey;
}
